.banner {
	position: relative;
	text-align: center;
	margin: 50px 0 0;
	h1 {
		width: 100%!important;
		display: inline-block;
	}
	.banner-title {
		text-align: center;
		color: #FFFEF4;
		width: 100%;
		font: 40px "liquor-store-1", "liquor-store-2", "Impact", "Arial Narrow", sans-serif;
		text-transform: uppercase;
		display: inline-block;

		span {
			display: inline-block;
			width: .55em;
		}
	}
	.char1, .char3, .char5, .char8, .char10, .char12 {
		-webkit-transform: scale(1) skewY(-30deg);
		-o-transform: scale(1) skewY(-30deg);
		-moz-transform: scale(1) skewY(-30deg);
		-ms-transform: scale(1) skewY(-30deg);
		transform: scale(1) skewY(-30deg);
		// background: #3E2723 url(../images/dots.png) left top;
		background: #3E2723;
		background-size: 175%;
	}
	.char2, .char4, .char7, .char9, .char11 {
		-webkit-transform: scale(1) skewY(30deg);
		-o-transform: scale(1) skewY(30deg);
		-moz-transform: scale(1) skewY(30deg);
		-ms-transform: scale(1) skewY(30deg);
		transform: scale(1) skewY(30deg);
		// background: #AA0000 url(../images/dots.png) center top;
		background: #AA0000;
		background-size: 175%;
	}
	.char6 {
		width: .25em !important;
	}
}
.row-heading {
	font-weight: 500;
	margin:0;
	padding: 40px 0;
	color: $odd-text-color;
}

.pager-wrap{
	padding: 0 10px 10px 10px;
}

$background1: rgb(80,80,100);
$background2: rgb(243,115,70);
$white: rgb(240,240,240);
$blue: rgb(50,150,150);
.profile-wrap{
	background: $white;
	&:hover{
	    .social li{
	      margin: 0;
	    }
    }
}
.profile-header {
	text-align: center;
	padding: 40px 30px 0 30px;

	h2, h3 {
		font-weight: 300;
	}
	h2 {
		margin: 0;
	}
	h3 {
		margin: 15px 0;
		color: $blue;
	}
}
.profile-img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 20px 0 -70px 0;
	border: 3px solid $background1;
	transition: all 1.5s ease;

	&:hover {
		border: 3px solid $background2;
	}
}
.profile-content {
	background: #fff;
	color: $odd-text-color;
	padding: 75px 0 0 0;
	text-align: center;
	height: auto;

	p {
		padding: 20px 40px;
		font-weight: 300;
	}
}
.social {
	padding: 40px 0 0 0;

	ul {
		list-style-type: none;
		width: 100%;
		height: 50px;
		overflow: hidden;
		margin: 0;
  		padding: 0;

		li {
			margin: 50px 0 0 0;
			float: left;
			width: 33.3333%;
			height: 100%;
			line-height: 50px;

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition: ($i * .3s);
				}
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			i{
				vertical-align: middle;
			}
		}
	}
}
.zocial-facebook {
	background: #3B5998;
	display: block;
}
.zocial-github {
	background: #55ACEE;
	display: block;
}
.zocial-linkedin {
	background: #3F729B;
	display: block;
}

#my-carousel {
	margin-bottom: 0;	
	.img-container{
		-webkit-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;
		background-position: 50% 50%;
  		background-repeat: no-repeat;
  		background-color:#000;
	}
	.layout{
		background-color: rgba(0,0,0,.3); 
	}
}

.inline-list1{
	list-style: none;
	li{
		display: inline-block;
		padding: 5px;
	}

	a{
		color:
	}
}

#fullpage-home{
	#section1{
		
	}

	.shadow{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.2);
		
	}

	.content{
		text-align: center; 
		color:#fff;
		height: 100%;
		padding-top:40px;
		padding-bottom:60px;
		position: relative;
		
		h3{
			color:#2cabe2;
		}
	}

	.avatar{
		width:100px;
		height: 100px;
	}

	.profile-heading{
		
	}

	.profile-body{
		position: absolute;
		top: 50%;
		-webkit-transform: translatey(-50%);
		-moz-transform: translatey(-50%);
		-ms-transform: translatey(-50%);
		transform: translatey(-50%);
		width:100%;
		text-align: center;
	}

	.profile-footer{
		position: absolute;
  		bottom: 60px;
  		width:100%;
  		text-align: center;
	}

	.links-list{
		font-size: 16px;
		a{
			color:#89bdd4;
			&:hover{
				color:#fff;
			}
		}
	}

	.social-list{
		font-size: 16px;
		a{
			color: #EAE7FF;
			&:hover{
				color:#fff;
			}
		}
	}
}

