---
layout: default
title: Home
fa: "fa fa-home"
---
<div id="fullpage-home">
    <div class="section" id="section1" >
        <div id="my-carousel">
            {% for image in site.data.carousel %}
                    <div class="img-container" style="background-image: url(/dist/images/{{ image.name }});">
                    </div>
            {% endfor %}
        </div>
        <div class="shadow">
            <div class="container content text-center">
                 <div class="profile-heading">
                    <h1>Uncle Zheng</h1>
                </div>
                
                <div class="profile-body">
                    <div>
                        <img src="/dist/images/avatar.jpg" class="avatar img-circle">
                    </div>
                    <h3>Web developer & designer</h3>
                    <ul class="inline-list1 text-center links-list">
                        {% for node in site.html_pages %} 
                        {% if node.title != null and node.title != "Home" %}
                            <li ><a href="{{ node.url }}">{{ node.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="profile-footer">
                    <ul class="inline-list1 text-center social-list">
                        <li>
                            <a href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="{{ site.author.github }}" target="_blank"> <i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="{{ site.author.linkedin }}" target="_blank"> <i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-toggle="popover" data-placement="right" data-content="{{ site.author.qq }}"> 
                                <i class="fa fa-qq"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
