.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}



.timeline {
  position: relative;
}

@media (min-width: 768px) {
  .timeline {
    padding: 50px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .timeline {
    margin-top: 30px;
  }
}

.t-view {
  // border: 1px solid #E4E4E4;
  position: relative;
  margin-bottom: 35px;
  
  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  }
}

@media (max-width: 767px) {
  .t-view {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.t-view .tv-header {
  padding: 16px 18px;
  border-bottom: 1px solid #E4E4E4;
  background: #F9F9F9;
  .tvh-title{
    font-weight: bold;
  font-size: 18px;
  }
  .tvh-date{
    font-size: 12px;
    color: #999;
    
    i{
      padding-right:5px;
    }
  }

  .view-post{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.t-view .tv-header .actions {
  position: absolute;
  top: 5px;
  right: 10px;
}

.t-view .tv-body {
  padding: 23px 25px;
  
  .tvb-summary{
    word-break: break-all;
    word-spacing: 2px;
    line-height: 1.5;
  }
}

.t-view .tv-body .tvb-lightbox {
  margin: 0 -8px 15px;
}

.t-view .tv-body .tvb-lightbox [data-src] {
  padding: 0 5px;
  margin-bottom: 5px;
}

.t-view .tvh-user {
  display: block;
}

.t-view .tvh-user img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.t-view:before {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -70px;
  top: 0;
  border: 3px solid #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  color: #FFF;
  font-family: 'FontAwesome';
  z-index: 1;
  
  content: "\f1d8";
  background: #00bcd4;
  box-shadow: 0 0 0 1px #00bcd4;
}

.t-view:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 1px;
  height: calc(100% + 37px);
  
  background: #00bcd4;
}

.t-view[data-tv-type="text"]:before {
  content: "\f1d8";
  background: #00bcd4;
  box-shadow: 0 0 0 1px #00bcd4;
}

.t-view[data-tv-type="text"]:after {
  background: #00bcd4;
}

.t-view[data-tv-type="date"]:before {
  content: "\f073";
  background: #4caf50;
  box-shadow: 0 0 0 1px #4caf50;
}

.t-view[data-tv-type="date"]:after {
  background: #4caf50;
}

.t-view[data-tv-type="star"]:before {
  content: "\f006";
  background: #ffc107;
  box-shadow: 0 0 0 1px #ffc107;
}

.t-view[data-tv-type="star"]:after {
  background: #ffc107;
}

.t-view .tvb-stats {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
}

.t-view .tvb-stats > li {
  display: inline-block;
  padding: 5px 10px 6px;
  border: 1px solid #ccc;
  margin-right: 2px;
}

.t-view .tvb-stats > li i {
  font-size: 15px;
  line-height: 100%;
  vertical-align: top;
  margin-top: 2px;
}

.t-view .tvb-stats > li.tvbs-comments {
  border-color: #4caf50;
  color: #4caf50;
}

.t-view .tvb-stats > li.tvbs-likes {
  border-color: #03a9f4;
  color: #03a9f4;
}

.t-view .tvb-stats > li.tvbs-views {
  border-color: #ff9800;
  color: #ff9800;
}

.tv-comments .tvc-lists {
  padding: 0;
  list-style: none;
  margin: 0;
}

.tv-comments .tvc-lists > li {
  padding: 15px 20px;
  margin: 0;
  border-top: 1px solid #E4E4E4;
}

.tvc-more {
  color: #333;
  display: block;
  margin-bottom: -10px;
}

.tvc-more:hover {
  color: #000;
}

.tvc-more i {
  vertical-align: middle;
  margin-right: 5px;
}

.vco-slider .slider-item .content .content-container .media {
  overflow: inherit; 
}